#main_mode {
    background-image: url("images/main_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

@font-face {
    font-family: 'BasicText';
    src: url(fonts/Minecraft.ttf);
}

@font-face {
    font-family: 'HeaderText';
    src: url(fonts/Mario-Kart-DS.ttf);
}

.profile_text {
    font-family: 'BasicText', Courier, monospace;
}

h2 {
    font-family: 'HeaderText', Courier, monospace;
}

.profile_box {
    padding: 10px;
    text-align: center;
    width: 25%;
    
    /* centered in the middle both vert and hor */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.profile_box > img {
    width: 22.5%;
    border-radius: 25%;
    border:2px solid black;
}

.day_button_container, .night_button_container {
    width:100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.day_button_container{
    left:9%;
}

.night_button_container {
    right: 15%;
}

a > img {
    width:100%;
}

a > .button {
    width:200%;
}

.enlarge {
    transition: transform 0.2s ease;
}

.enlarge:hover {
    transform: scale(1.1);
}

#night_mode {
    background-image: url("images/night_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color:white;
    font-family: 'BasicText', Courier, monospace;
}

#night_intro, #day_intro {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
}

#night_intro ul {
    /* keeps bullets aligned in center */
    list-style-position: inside; 
    padding: 0;
    margin: 1rem 0;
}

.top4_container {
    width: fit-content;
    margin: 2rem auto;
}

.top4_caption {
    margin-bottom:4px;
}
.four_entries {
    display: flex;
    justify-content: center;
}

.four_entries img {
    width: 150px;
    height: auto;
    margin: 0 5px;
}

.four_entries {
    display: flex;
}

#day_mode {
    background-image: url("images/day_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
    font-family: 'BasicText', Courier, monospace;
    
    min-height: 100vh;  /* Make sure it fills at least the first viewport */
}

#mode_header {
    text-align: center;
    padding-bottom: 15px;
}

.game_clips {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.game_clips div {
    width: 30%;
    margin: 0 15px;
}

a.game_link {
    text-decoration: none;
    color: inherit;
}

.game_caption {
    margin:2px 0;
}

#my_links {
    display: flex;
    justify-content: center;
}

#my_links div {
    width: 50px;
    margin: 0 4rem;
    margin-bottom: 1rem;
}
.divider {
    border: none;
    height: 2px;
    background: linear-gradient(to right, #00a6ff, #ffffff20, #00a6ff);
    margin: 40px auto;
    width: 60%;
}

.four_entries img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.four_entries img:hover {
    transform:scale(1.05);
    box-shadow: 0 0 12px white
}

.back_main {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0.5rem;
    width:7.5%;
}

#day_back {
    right: 2.5%;
}

#night_back {
    left: 2.5%;
}

#overlay_strip_day, #overlay_strip_night {
    position: fixed;
    top: 0;
    left: 50%;
    width: 70vw;
    height: 100vh;
    transform: translateX(-50%);
    
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    pointer-events: none;
}

#overlay_strip_night {
    width: 55vw;
}
